.square {
  position: relative;
  width: 50%;
  background-color: white;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rowGap {
  padding-top: 1%;
  padding-bottom: 1%;
}
