html, body {
  width: 100%;
  height: 100%;
}
body {
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  background-color: #04518f !important;
  background-size: cover;
  padding-top: 2rem;
  color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold!important;
}