html, body {
  width: 100%;
  height: 100%;
}
body {
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  background-color: #04518f !important;
  background-size: cover;
  color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold!important;
}

#register-cont {
  padding-top: 2rem;
}

#status_bar {
  position: absolute;
  background: #000000;
  background: rgba(0,0,0,0.85);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 1.5rem 0;
  height: 5vh;
  line-height: 5vh;
}

#status_bar img {
  height: 5vh;
  vertical-align: bottom;
  margin-left: 1.5rem;
}

#status_bar img:first-child {
  margin-left: 0px;
}

#game-cont, #cam-screen {
  width: 100%;
  padding-top: 5vh;
  height: 100%
}
#game-cont video, #cam-screen video {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}