html, body {
  width: 100%;
  height: 100%;
}
body {
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  background-color: #04518f !important;
  background-size: cover;
}
/*h1, h2, p, ul, li {
  font-family: sans-serif;
}
img {
  border-radius: 25px;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
*/